.tasks-list{
  display: flex;
  justify-content: space-between;
  width: 97%;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 2px;
  background-color: #f1cbf1;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  text-align: start;

  .task-li{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
  }
}

