/* You can add global styles to this file, and also import other style files */
body{
  background-image: linear-gradient(#c96ee0 4%, 48%, purple 90%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.icone-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

